<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=142></COL>
	<COL WIDTH=140></COL>
	<COL WIDTH=143></COL>
	<COL WIDTH=140></COL>
	<TR>
		<TD COLSPAN=4 WIDTH=607 VALIGN=TOP STYLE="border: 1px solid #00000a;text-align: center;padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><A NAME="_GoBack"></A><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Insured
			Details - {{Count}}</B></FONT></FONT></P>
		</TD>
	</TR>
	<!-- <TR> -->
		<!-- <TD COLSPAN=4 WIDTH=607 VALIGN=TOP BGCOLOR="#bfbfbf" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in"> -->
			<!-- <P><FONT COLOR="#000000"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Member -->
			<!-- </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Consolas, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><b>{{Count}}</b></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></FONT></P> -->
		<!-- </TD> -->
	<!-- </TR> -->
	<TR VALIGN=TOP>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Name:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{MemberName}}</FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Date of
			birth:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{DOB}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>	
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Sex:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Sex}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Relationship:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Relationship}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Passport:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Passport}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Nationality:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Nationality}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Occupation:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Occupation}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Start
			Date: </FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{StartDate}}</FONT></FONT></P>
		</TD>
	</TR>
		<TR VALIGN=TOP>		
		<TD WIDTH=144 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Expiry
			Date:</FONT></FONT></P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{ExpiryDate}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Sum
			Insured (USD):</FONT></FONT></P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">50,000
			</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=144 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Policy
			Type:</FONT></FONT></P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{PolicyType}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Geographical
			Limit:</FONT></FONT></P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Geographical}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=144 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Premium(BD):</FONT></FONT></P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Premium}}</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<!-- </TABLE> -->