<TR>
		<TD COLSPAN=4 WIDTH=607 VALIGN=TOP STYLE="border: 1px solid #00000a;text-align: center;padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><A NAME="_GoBack"></A><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Insured - {{Count}}</B></FONT></FONT></P>
		</TD>
	</TR>	
	<TR>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Name:</FONT></FONT></P>
		</TD>
		<TD WIDTH=423 COLSPAN=3 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{MemberName}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Passport:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Passport}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Date of
			birth:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{DOB}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>	
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Nationality:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Nationality}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Relationship:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Relationship}}</FONT></FONT></P>
		</TD>
	</TR>
	
	
    <TR VALIGN=TOP>
        <TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Occupation:</FONT></FONT></P>
        </TD>
        <TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Occupation}}</FONT></FONT></P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Sex:</FONT></FONT></P>
        </TD>
        <TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Sex}}</FONT></FONT></P>
        </TD>
    </TR>