<html>
<body>
<div style="margin-left:20%;margin-right:20%">
<TABLE WIDTH=1000 CELLPADDING=7 CELLSPACING=0 style="width: 100%;">
	<COL WIDTH=150></COL>
	<COL WIDTH=150></COL>
	<COL WIDTH=143></COL>
	<COL WIDTH=150></COL>
	<TR>
		<TD COLSPAN=10 WIDTH=1000 VALIGN=TOP STYLE="text-align: center;padding-top: 0.05in; padding-bottom: 0.2in; padding-left: 0.05in; padding-right: 0.05in">
			<P><A NAME="_GoBack"></A><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 16pt"><B>Insurance Certificate
</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="width: 16%;BORDER-LEFT:1PX SOLID #00000a; border-top: 1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Insured:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  border-top: 1px solid #00000a;padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{InsuredName}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.1in;  border-top: 1px solid #00000a;padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">المؤمن عليه</FONT></FONT></P>
		</TD>
		<TD style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;BORDER-LEFT:1PX SOLID #00000a; border-top: 1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Make/Model:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-top: 1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Make/Model}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;BORDER-RIGHT:1PX SOLID #00000a; border-top: 1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">الصنع / الطراز</FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Policy No :</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{PolicyNo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">رقم الوثيقة</FONT></FONT></P>
		</TD>
		
		<TD  style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Reg. No:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{RegistrationNo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">يارة</FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Type of Cover:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{PolicyCover}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">نوع التغطية</FONT></FONT></P>
		</TD>
		<TD  style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Chassis No:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{ChassisNo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a;padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">رقم الس</FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Excess:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Excess}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">مبلغ التحمل</FONT></FONT></P>
		</TD>
		<TD  style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Vehicle Value:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{VehicleValue}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a;padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">قيمة المركبة </FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Additional Benefits:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{OptionalCover}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
		<TD  style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Issued Date:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{IssuedDate}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a;padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Insurance Period:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{InsurancePeriod}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt;font-weight:bold;">قيمة المركبة </FONT></FONT></P>
		</TD>
		<TD  style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Year of Make:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Year}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-RIGHT:1PX SOLID #00000a;padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=500 VALIGN=TOP STYLE="border: 1px solid #00000a;">
		<TD WIDTH=150 STYLE="BORDER-BOTTOM:1PX SOLID #00000a; BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Finance:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-BOTTOM:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Finance}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-BOTTOM:1PX SOLID #00000a; BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
		<TD  style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="BORDER-BOTTOM:1PX SOLID #00000a;  BORDER-LEFT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-BOTTOM:1PX SOLID #00000a;  padding-top: 0.05in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="BORDER-BOTTOM:1PX SOLID #00000a; BORDER-RIGHT:1PX SOLID #00000a; padding-top: 0.05in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
		</TD>
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">We hereby certify that a policy of insurance covers the liabilities required to be
covered as per the Legislative Decree No(3) of 1987.</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">نقر بأن هذه الشهادة تخضع لشروط و أحكام وثيقة التأمين الصادرة طبقاً للمرسوم بقانون رقم (٣) لعام ١٩٨٧ </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Cumpolsary Additional Excess of BD 250/- will be charged in the following cases:
</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">مبلغ التحمل الإلزامي للحوادث سيضاف إلى مبلغ التحمل المذكور أعلاه مبلغ -/٢٥٠ دينار في الحالات التالية:</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Vehicle driven by person under 25 years of age or person with less than 2 years
driving experience.</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"> ذا كان سائق المركبة يبلغ من العمر أقل من ٢٥ سنة أو اذا كان يحمل رخصة قيادة لم تمض على صدورها عامان كاملان.</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Loss or damage caused by malicious act of unknown third parties.
</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">٢- الخسارة او الضرر الناتج عن فعل متعمد من قبل  شخص / اأشخاص مجهولي الهوية. </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">General Instructions:<br/>
In the event of an accident you should, immediatly inform the company providing the
full claim details</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">تعليمات عامة:<br/>
ي حالة وقوع أي حادث يجب عليك إبلاغ الشركة فوراً، مبيناً تفاصيل الحادث. </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">In the event of change of ownership of the vehicle, this insurance is not transferable
to the buyer automatically, Please contact the company immediately for the transfer
of Insurance </FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">في حالة تغيير ملكية السيارة فإن التأمين لا ينتقل إلى المشتري تلقائياً، يرجى إرجاع شهادة التأمين  إلى الشركة   
في الحال و الحصول على تأمين جديد.
</FONT></FONT></P>
		</TD>
		
	</TR>
	
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3 STYLE="border-left:1px solid #00000a;border-top:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">for road assist, please call our helpline 80001218
</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="border-top:1px solid #00000a; width:20px;"></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE="border-top:1px solid #00000a;border-right:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">طلب المساعدة على الطريق الرجاء الاتصال على الرقم ٨٠٠٠١٢١٨
 </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3 STYLE="border-left:1px solid #00000a;border-bottom:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Head Office - 17119999, Claims Dept. - 17875000
</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;border-bottom:1px solid #00000a; "></TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE="border-right:1px solid #00000a;border-bottom:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Head Office - 17119999, Claims Dept. - 17875000
 </FONT></FONT></P>
		</TD>
		
	</TR>
	
	
	<TR  WIDTH=1000 VALIGN=TOP>
		<TD COLSPAN=3 STYLE=" padding-top: 0.2in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Signed for and on behalf of </FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		 
			<TD COLSPAN=3 STYLE=" padding-top: 0.2in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">وقع باالنيابة عن  </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 12pt;font-weight:bold;">BAHRAIN KUWAIT INSURANCE
</FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		 
			<TD COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 12pt;font-weight:bold;">البحرينية الكويتية للتأمين
</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR  WIDTH=1000 VALIGN=TOP >
		<TD COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt ">Licensed by the Central Bank of Bahrain as a General Insurance Company
 </FONT></FONT></P>
		</TD>
		
		<TD COLSPAN=1 style="width:20px;"></TD>
		 
			<TD COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Licensed by the Central Bank of Bahrain as a General Insurance Company
</FONT></FONT></P>
		</TD>
		
	</TR>
	
	
</TABLE>
</div>
</body></html>