<HTML>
<HEAD>
	<TITLE></TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin: 1in }
		P { margin: 0px; direction: ltr; widows: 2; orphans: 2 }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR" STYLE="margin-left:10%;margin-right:10%">
<table>
	<tr>
	<td WIDTH=411 STYLE="padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
	<P STYLE="margin-bottom: 10px;" ><FONT><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 13pt"><B><U>{{TravelSchedule}} {{EndorsementType}}</U></B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; "><FONT FACE="Times New Roman" SIZE=1 STYLE="font-size: 8pt"><I>(Please
print a colored copy for submission to embassies)</I></FONT></P>
<P STYLE="margin-bottom: 0in;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Policy
Number: {{PolicyNumber}}</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; "><A NAME="_GoBack"></A>
<FONT FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt"><B>Insured
Holder: {{PolicyHolderName}}</B></FONT></P>
</td>
<td WIDTH=211 STYLE="padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
	<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%;margin-top: 0px !important;"><FONT COLOR="#414063"><FONT FACE="Times New Roman"><FONT SIZE=5 STYLE="font-size: 17pt">
	<B>

	</B>
	</FONT></FONT></FONT></P>
	</td>
	</tr>
</table>
<div style="margin-top:10px;margin-bottom:10px;">

<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=142></COL>
	<COL WIDTH=140></COL>
	<COL WIDTH=143></COL>
	<COL WIDTH=140></COL>
	<TR>
		<TD COLSPAN=4 WIDTH=607 VALIGN=TOP STYLE="border: 1px solid #00000a;text-align: center;padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><A NAME="_GoBack"></A><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Insured</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Name:</FONT></FONT></P>
		</TD>
		<TD WIDTH=423 COLSPAN=3 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{MemberName}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Passport:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Passport}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Date of
			birth:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{DOB}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Occupation:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Occupation}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Relationship:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Relationship}}</FONT></FONT></P>
		</TD>
	</TR>
    <TR>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Nationality:</FONT></FONT></P>
        </TD>
        <TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Nationality}}</FONT></FONT></P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Sex:</FONT></FONT></P>
        </TD>
        <TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Sex}}</FONT></FONT></P>
        </TD>
    </TR>
	<TR>
		<TD COLSPAN=4 WIDTH=607 VALIGN=TOP STYLE="border: 1px solid #00000a;text-align: center;padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><A NAME="_GoBack"></A><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Policy Details</B></FONT></FONT></P>
		</TD>
	</TR>	
	<TR>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Geographical Limit:</FONT></FONT></P>
		</TD>
		<TD WIDTH=423 COLSPAN=3 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Geographical}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Start
			Date: </FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{StartDate}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Expiry
			Date:</FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{ExpiryDate}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>		
		<TD WIDTH=144 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Premium(BD):</FONT></FONT></P>
		</TD>
		<TD WIDTH=146 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{Premium}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Sum Insured ({{SumInsuredFormat}}):</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{SumInsured}} {{PerPerson}}</FONT></FONT></P>
		</TD>
	</TR>
	
</TABLE>
<P STYLE="margin-bottom: 0.14in">
</P>

{{TravelMembersDiv}}

</div>
<P STYLE="margin-bottom: 0.14in">
</P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">In the event of the death of the Insured, the Assistance Company will make the
necessary arrangements for the return of the Insured’s remains to
the Insured’s country of citizenship and the Company will meet the
cost of the transfer expenses to the place of interment, cremation or
funeral ceremony at his/her usual country of residence as per our
policy terms &amp; conditions.</FONT></FONT></P>
<P STYLE="margin-bottom: 0px; "><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>This Policy is subject to the following conditions / terms</B>
</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">1. Any Pre-Existing Medical condition / Aliments declared or undeclared will be excluded from the policy.
</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">2. The coverage provided is subject to the details as per our Policy Wording. 
</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">3. Policy Cancellation, Extension or Change of Period can be prior to policy commencement date only.
</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">4. Not full premium will be allowed in the event of premature cancellation of the policy.
</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT COLOR="#000000"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">“The parties hereby acknowledge and agree that all payment under this Agreement are exclusive of any Value Added or other indirect taxes imposed upon such payment and that the Second Party shall bear the cost of, and be responsible for the payment of any and all tax imposed. In the event of any change in circumstances of any existing applicable laws, or introduction of new laws that could govern the remuneration of this contract, such amendments would be applied on top of the existing agreed upon commercial terms & borne by the Second Party.”</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Assistance
Contact</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Gulf
Assist B.S.C,P.O.Box 2790, Manama, Kingdom of Bahrain</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">(a
MAPFRE ASISTENCIA Company,Sor Angela de la Cruz, 6, 28020 Madrid, Spain).</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">1-Almeda
GmbH, Rosenheimer Strabe 116a</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">(a
MAPFRE ASISTENCIA Company, 81669 Munchen, http://www.almeda.com/</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;">
</P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">2-
IFRA ASSISTANCE GMBH, SchieBstattring 21, 3100 St. Polten - AUSTRIA, http://www.ifra.at/</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;";><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Telephone
number:</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">International:
00 (962) 65008119</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">USA:
00 (1) 5672692968</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Europe
for Schengen Policy Holders:</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">-
Ireland: 00 (353) 91 56 06 21</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">-
Germany: 00 (49) 1805115610</FONT></FONT></P>

<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">-
France: 0800 918040 (TOLL FREE)</FONT></FONT></P>

<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">-
Spain: 00 (34) 915811821</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Fax:
00 (962) 65627981</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">Email:
TRAVEL@mapfre.com</FONT></FONT></P>
<P STYLE="margin-bottom: 0in;line-height: 100%;margin-top: 5px;"><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></P>
</BODY>
</HTML>