<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=142>
	<COL WIDTH=140>
	<COL WIDTH=143>
	<COL WIDTH=140>
	<TR>
		<TD COLSPAN=4 WIDTH=607 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><A NAME="_GoBack"></A><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt"><B>Insured
			Details</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=607 VALIGN=TOP BGCOLOR="#bfbfbf" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000"><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Member
			</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Consolas, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><b>{{Count}}</b></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt"></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Name:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{MemberName}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Date of
			birth:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{DOB}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Sex:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{Sex}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Relationship:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{Relationship}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Passport:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{Passport}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Nationality:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{Nationality}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">Occupation:</FONT></FONT></P>
		</TD>
		<TD WIDTH=140 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT FACE="serif"><FONT SIZE=3 STYLE="font-size: 11pt">{{Occupation}}</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<br>