<html>
<body>
<div>
<TABLE WIDTH=700 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=150></COL>
	<COL WIDTH=150></COL>
	<COL WIDTH=50></COL>
	<COL WIDTH=150></COL>
	<COL WIDTH=150></COL>
	<COL WIDTH=50></COL>
	<TR>
		<TD COLSPAN=7 VALIGN=TOP STYLE="text-align: center;padding-top: 0.03in; padding-bottom: 0.2in; padding-left: 0.03in; padding-right: 0.03in">
			<P><A NAME="_GoBack"></A><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 16pt"><B>Insurance Certificate
</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; border-top: 1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Insured:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  border-top: 1px solid #00000a;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{InsuredName}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=50 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in;  border-top: 1px solid #00000a;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">المؤمن عليه</FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; border-top:1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Make/Model:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-top: 1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{Make/Model}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=50 STYLE="width: 16%;border-right:1px solid #00000a; border-top: 1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">الصنع / الطراز</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a;  padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Policy No:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  ;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{PolicyNo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">رقم الوثيقة</FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Reg. No:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{RegistrationNo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">يارة</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a;  padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Type of Cover:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  ;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{PolicyCover}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">نوع التغطية</FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Chassis No:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{ChassisNo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">رقم الس</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a;  padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Excess:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  ;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{Excess}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">مبلغ التحمل</FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Vehicle Value:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{VehicleValue}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">قيمة المركبة </FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a;  padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Additional Benefits:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  ;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{OptionalCover}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;"></FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Issued Date:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{IssuedDate}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;"> </FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a;  padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Insurance Period:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;padding-top: 0.1in;  ;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{InsurancePeriod}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;">قيمة المركبة </FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-left:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Year of Make:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{Year}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;"> </FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=150 STYLE="width: 16%;border-bottom:1px solid #00000a;border-left:1px solid #00000a;  padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Finance:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE=" width: 16%;border-bottom:1px solid #00000a;padding-top: 0.1in;  ;padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{Finance}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-bottom:1px solid #00000a;border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;"></FONT></FONT></P>
		</TD>
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=150 STYLE="width: 16%;border-bottom:1px solid #00000a;border-left:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt"></FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-bottom:1px solid #00000a;padding-top: 0.1in; padding-bottom: 0.0.5in; padding-left: 0.03in; padding-right: 0.03in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt"></FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="width: 16%;border-bottom:1px solid #00000a; border-right:1px solid #00000a; padding-top: 0.1in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.03in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt;font-weight:bold;"> </FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD  WIDTH=350 COLSPAN=3   STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">We hereby certify that a policy of insurance covers the liabilities required to be
covered as per the Legislative Decree No(3) of 1987.</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD   WIDTH=350 COLSPAN=3  STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">نقر بأن هذه الشهادة تخضع لشروط و أحكام وثيقة التأمين الصادرة طبقاً للمرسوم بقانون رقم (٣) لعام ١٩٨٧ </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Cumpolsary Additional Excess of BD 250/- will be charged in the following cases:
</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">مبلغ التحمل الإلزامي للحوادث سيضاف إلى مبلغ التحمل المذكور أعلاه مبلغ -/٢٥٠ دينار في الحالات التالية:</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Vehicle driven by person under 25 years of age or person with less than 2 years
driving experience.</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt"> ذا كان سائق المركبة يبلغ من العمر أقل من ٢٥ سنة أو اذا كان يحمل رخصة قيادة لم تمض على صدورها عامان كاملان.</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Loss or damage caused by malicious act of unknown third parties.
</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=350 COLSPAN=3  STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">٢- الخسارة او الضرر الناتج عن فعل متعمد من قبل  شخص / اأشخاص مجهولي الهوية. </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">General Instructions:<br/>
In the event of an accident you should, immediatly inform the company providing the
full claim details</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD COLSPAN=3  STYLE="padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">تعليمات عامة:<br/>
ي حالة وقوع أي حادث يجب عليك إبلاغ الشركة فوراً، مبيناً تفاصيل الحادث. </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3  STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">In the event of change of ownership of the vehicle, this insurance is not transferable
to the buyer automatically, Please contact the company immediately for the transfer
of Insurance </FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 0.1in; padding-bottom: 0.1in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">في حالة تغيير ملكية السيارة فإن التأمين لا ينتقل إلى المشتري تلقائياً، يرجى إرجاع شهادة التأمين  إلى الشركة   
في الحال و الحصول على تأمين جديد.
</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3 STYLE="border-left:1px solid #00000a;border-top:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">for road assist, please call our helpline 80001218
</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=350 COLSPAN=3 STYLE="border-top:1px solid #00000a;border-right:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">طلب المساعدة على الطريق الرجاء الاتصال على الرقم ٨٠٠٠١٢١٨
 </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3 STYLE="border-left:1px solid #00000a;border-bottom:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Head Office - 17119999, Claims Dept. - 17875000
</FONT></FONT></P>
		</TD>
		
		<!--<TD WIDTH=143 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></FONT></P>
		</TD>
		<TD WIDTH=150 STYLE="border: 1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></FONT></P>
		</TD>-->
			<TD WIDTH=350 COLSPAN=3 STYLE="border-right:1px solid #00000a;border-bottom:1px solid #00000a; padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Head Office - 17119999, Claims Dept. - 17875000
 </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 20px; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt"></FONT></FONT></P>
		</TD>
		
			<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 20px; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt"> </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 20px; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Signed for and on behalf of </FONT></FONT></P>
		</TD>
		
			<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 20px; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">وقع باالنيابة عن  </FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size:12pt; font-weight:bold;">BAHRAIN KUWAIT INSURANCE
</FONT></FONT></P>
		</TD>
		
			<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 12pt;font-weight:bold;">البحرينية الكويتية للتأمين
</FONT></FONT></P>
		</TD>
		
	</TR>
	<TR>
		<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Licensed by the Central Bank of Bahrain as a General Insurance Company
 </FONT></FONT></P>
		</TD>
		
			<TD WIDTH=350 COLSPAN=3 STYLE=" padding-top: 0.05in; padding-bottom: 0.05in; padding-left: 0.05in; padding-right: 0.05in; text-align:right;">
			<P><FONT FACE="Times New Roman"><FONT SIZE=3 STYLE="font-size: 9pt">Licensed by the Central Bank of Bahrain as a General Insurance Company
</FONT></FONT></P>
		</TD>
		
	</TR>
	
</TABLE>
</div>
</body></html>