﻿<%@ Page Language="C#" MasterPageFile="~/General.Master" AutoEventWireup="true" CodeBehind="MotorEndorsement.aspx.cs" Inherits="SellingPoint.Presentation.MotorEndorsement" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolKit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script>
        function ShowPopup() {
            if (checkPageIsValid()) {
                $('#myModal').modal('show');
            }
            else {
                showPageLoader('MotorEndorsementValidation');
                $('#myModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        }
        function closePopup() {
            $('#myModal').modal('hide');
            $(".modal-backdrop").remove();
        }
        function checkPageIsValid() {
            return Page_ClientValidate('MotorEndorsementValidation');
        }
        function ShowMessage() {
            $('#myModal').modal('show');
        }
        //function showDeletePopup() {
        //    $('#myModalDelete').modal('show');

        //}
        // function closeDeletePopup() {
        //    $('#myModalDelete').modal('hide');
        //      $("#myModalDelete .modal-backdrop").remove();
        //}
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdatePanel runat="server" ID="motorEndorsementUpdatePanel">
        <ContentTemplate>
            <div class="adv-table editable-table ">
                <asp:GridView ID="gvMotorEndorsement" runat="server" OnDataBound="gvMotorEndorsement_DataBound" CssClass="table table-bordered" AutoGenerateColumns="False" AllowPaging="True" AllowSorting="True" Width="100%" OnSorting="gv_Sorting" PageSize="10">
                    <HeaderStyle CssClass="bcolorhead fcolorwhite" />
                    <Columns>
                        <asp:TemplateField HeaderText="S.No">
                            <ItemTemplate>
                                <asp:Label ID="lblSNo" runat="server" Text=" <%# Container.DataItemIndex + 1 %>"></asp:Label>
                                <asp:Label ID="lblMotorID" runat="server" Text='<%# Eval("MotorID") %>' Visible="false"></asp:Label>
                                <asp:Label ID="lblMotorEndorsementID" runat="server" Text='<%# Eval("MotorEndorsementID") %>' Visible="false"></asp:Label>
                                <asp:Label ID="lblIsSaved" runat="server" Text='<%# Eval("IsSaved") %>' Visible="false"></asp:Label>
                                <asp:Label ID="lblIsActive" runat="server" Text='<%# Eval("IsActivePolicy") %>' Visible="false"></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <%--<asp:BoundField DataField="MotorEndorsementID" HeaderText="EndorsementId" />
                     <asp:BoundField DataField="MotorID" HeaderText="MotorId" /> --%>
                        <asp:BoundField DataField="EndorsementNo" HeaderText="EndorsementNo" ItemStyle-CssClass="DateKeyHide" HeaderStyle-CssClass="DateKeyHide" />
                        <asp:BoundField DataField="Endorsementtype" HeaderText="Type" SortExpression="Name" />
                        <asp:BoundField DataField="VehicleValue" HeaderText="Vehicle Value" SortExpression="Name" />
                        <asp:BoundField DataField="PremiumBeforeDiscount" HeaderText="PremiumBeforeDiscount" SortExpression="Name" />
                        <asp:BoundField DataField="PremiumAfterDiscount" HeaderText="Premium" SortExpression="Name" />
                        <asp:BoundField DataField="CommisionBeforeDiscount" HeaderText="CommisionBeforeDiscount" SortExpression="Name" />
                        <asp:BoundField DataField="CommissionAfterDiscount" HeaderText="Commission" SortExpression="Name" />
                        <asp:BoundField DataField="PolicyCommencementDate" HeaderText="COMMENCEDATE" SortExpression="Name" />
                        <asp:BoundField DataField="EXPIRYDATE" HeaderText="EXPIRYDATE" SortExpression="Name" />
                        <asp:TemplateField HeaderText="Action">
                            <ItemTemplate>
                                <asp:LinkButton ID="lnkbtnAuthorize" runat="server" ToolTip="Authorize" CssClass="fsize fcolorred" OnClientClick="showPageLoader();" OnClick="lnkbtnAuthorize_Click" CommandName="Authorize"><i class="fa  fa-edit"></i></asp:LinkButton>
                                <asp:LinkButton ID="lnkbtnDelete" runat="server" ToolTip="Delete" OnClientClick="return confirm('Are you sure you want to delete this entry?');" OnClick="lnkbtnDelete_Click" CssClass="fsize fcolorred" CommandName="Delete"><i class="fa  fa-trash-o"></i></asp:LinkButton>
                                <asp:LinkButton ID="lnkbtnSchedule" runat="server" ToolTip="Delete" OnClientClick="showPageLoader();" OnClick="lnkbtnSchedule_Click" CssClass="fsize fcolorred" CommandName="Schedule"><i class="fa  fa-calendar"></i></asp:LinkButton>
                                <asp:LinkButton ID="lnkbtnCertificate" runat="server" ToolTip="Delete" OnClientClick="showPageLoader();" OnClick="lnkbtnCertificate_Click" CssClass="fsize fcolorred" CommandName="Schedule"><i class="fa  fa-file"></i></asp:LinkButton>
                            </ItemTemplate>
                        </asp:TemplateField>
                    </Columns>
                </asp:GridView>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Search :</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal form-label-left col-md-12">
                          <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Introduced by :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtIndroducedBy" runat="server" CssClass="form-control col-md-10 readonly-sty" ReadOnly="true" />
                            </div>
                        </div> 
                            <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Branch :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlBranch" runat="server" CssClass="form-control col-md-10 chzn-select">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvddlBranch" ErrorMessage="Please select branch" ControlToValidate="ddlBranch" runat="server" ValidationGroup="MotorEndorsementValidation" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Endorsement Type:</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlEndorsementType" runat="server" CssClass="form-control col-md-10 chzn-select" OnSelectedIndexChanged="Changed_EndorsementType" AutoPostBack="True">                                  
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator InitialValue="-1" ID="rfvddlEndorsementType" ErrorMessage="Please select endorsement type" ControlToValidate="ddlEndorsementType" runat="server" ValidationGroup="MotorEndorsementValidation" />
                            </div>
                        </div>
                          <div class="clearfix"></div>
                                           
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">CPR: *</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlCPR" runat="server" CssClass="form-control col-md-10 chzn-select" onChange="showPageLoader();" OnSelectedIndexChanged="Changed_CPR" AutoPostBack="True">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator ID="rfvCPR" ErrorMessage="Please select CPR" ControlToValidate="ddlCPR" runat="server" ValidationGroup="MotorEndorsementValidation" />
                            </div>
                        </div>
                          <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Policy Number: *</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlMotorPolicies" runat="server" CssClass="form-control col-md-10 chzn-select" onChange="showPageLoader();" OnSelectedIndexChanged="Changed_MotorPolicy" AutoPostBack="True">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator ID="rfvddlMotorPolicies" ErrorMessage="Please select policy" ControlToValidate="ddlMotorPolicies" runat="server" ValidationGroup="MotorEndorsementValidation" />
                            </div>
                        </div>  
                         <div class="form-group col-md-12" id="AddInsured" runat="server" visible="false">
                          <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">NewInsured CPR: *</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlNewInsuredCPR" runat="server" CssClass="form-control col-md-10 chzn-select" onChange="showPageLoader();" OnSelectedIndexChanged="ChangedNewInsured_CPR" AutoPostBack="True">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator ID="rfvddlNewInsuredCPR" ErrorMessage="Please select CPR" ControlToValidate="ddlNewInsuredCPR" runat="server" ValidationGroup="MotorEndorsementValidation" />
                            </div>
                        </div>                         
                            <%--<div class="col-md-4 page-label">
                                <label class="control-label">Add Insured:</label>
                            </div>--%>
                            <div class="col-md-2 page-control pull-left">
                                <asp:Button ID="linkButton" type="button" Text="Add Insured" CssClass="btn btn-info btn-link-button" runat="server" OnClick="insured_Master" style="width: 100%;"/>
                            </div>
                        </div>
                        <div>
                        </div>           
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="divider-20"></div>
                    </div>
                    <div runat="server" id="mainDiv">                   
                    <div class="trf_type typ_wrapper" id="commonDiv" runat="server">

                        <div class="form-horizontal form-label-left col-md-12">
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Effective From :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtEffectiveFromDate" runat="server" CssClass="form-control col-md-10 datepicker" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Efecctive To :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtEffectiveToDate" runat="server" CssClass="form-control col-md-10 datepicker" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Old Insured code :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtOldClientCode" runat="server" CssClass="form-control col-md-10" Enabled="false" />
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Old Insurance Name :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtOldInsuredName" runat="server" CssClass="form-control col-md-10" Enabled="false" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Type 1 -->
                    <div class="trf_type typ_wrapper" id="transferDiv" runat="server">
                        <div class="form-horizontal form-label-left col-md-12">
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">New client code :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtNewClientCode" runat="server" CssClass="form-control col-md-10" Enabled="false" />
                                    <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvtxtNewClientCode" ErrorMessage="Please enter new insured code" ControlToValidate="txtNewClientCode" runat="server" ValidationGroup="MotorEndorsementValidation" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">New Insurance Name :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtNewInsuredName" runat="server" CssClass="form-control col-md-10" Enabled="false" />
                                    <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvtxtNewInsuredName" ErrorMessage="Please enter new insured name" ControlToValidate="txtNewInsuredName" runat="server" ValidationGroup="MotorEndorsementValidation" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="ln_solid"></div>
                        </div>
                    </div>
                    <!-- End Type 1-->
                    <!-- Type 2 -->
                    <div class="bank_type typ_wrapper" id="AddRemoveBankDiv" runat="server">
                        <div class="form-horizontal form-label-left col-md-12">
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Bank :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:DropDownList ID="ddlBank" runat="server" CssClass="form-control col-md-10 chzn-select" AutoPostBack="True" Enabled="false">                                       
                                    </asp:DropDownList>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                              <asp:Button ID="BtnAdd" runat="server" Text="Add" CssClass="btn btn-primary" OnClientClick="showPageLoader();" OnClick="BtnBankAdd_Click" />
                              <asp:Button ID="BtnRemove" runat="server" Text="Remove" CssClass="btn btn-primary" OnClientClick="showPageLoader();" OnClick="BtnBankRemove_Click" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- End Type 2-->
                    <!-- Type 3 -->
                    <div class="chgreg_type typ_wrapper" id="ChangeRegistrationNoDiv" runat="server">
                        <div class="form-horizontal form-label-left col-md-12">
                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Old Registration No :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtOldRegistrationNo" runat="server" CssClass="form-control col-md-10" />
                                    <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvtxtOldRegistrationNo" ErrorMessage="Please enter old registration number" ControlToValidate="txtOldRegistrationNo" runat="server" ValidationGroup="MotorEndorsementValidation" />
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">New Registration No :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtNewRegistrationNo" runat="server" CssClass="form-control col-md-10" />
                                    <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvtxtNewRegistrationNo" ErrorMessage="Please enter new registration number" ControlToValidate="txtNewRegistrationNo" runat="server" ValidationGroup="MotorEndorsementValidation" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <%--<div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">Old Chasses :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtOldChassesNo" runat="server" CssClass="form-control col-md-10" />
                                    <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvtxtOldChassesNo" ErrorMessage="Please enter old chassis number" ControlToValidate="txtOldChassesNo" runat="server" ValidationGroup="MotorEndorsementValidation" />
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="col-md-4 page-label">
                                    <label class="control-label">New Chasses :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                    <asp:TextBox ID="txtNewChassesNo" runat="server" CssClass="form-control col-md-10" />
                                    <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvtxtNewChassesNo" ErrorMessage="Please enter new chassis number" ControlToValidate="txtNewChassesNo" runat="server" ValidationGroup="MotorEndorsementValidation" />
                                </div>
                            </div>--%>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- End Type 4 -->
                    <!-- Type 5 -->
                    <div class="cnclpolicy_type typ_wrapper" id="CancelPolicyDiv" runat="server">                       
                    </div>
                    <div class="cnclpolicy_type typ_wrapper" id="ExtendedPolicyDiv" runat="server">                       
                    </div>
                    <!-- End Type 4-->
                    <div id="PaymentSection" runat ="server">
                    <div class="form-group col-md-4">
                        <div class="col-md-4 page-label">
                            <label class="control-label">Payment Methods :</label>
                        </div>
                        <div class="col-md-8 page-control">
                            <asp:DropDownList ID="ddlPaymentMethods" runat="server" CssClass="form-control col-md-10 chzn-select" AutoPostBack="True" OnSelectedIndexChanged="ddlPaymentMethod_SelectedIndexChanged" TabIndex="29">
                                <asp:ListItem Text="Select" Value="-1" />
                                <asp:ListItem>Cash</asp:ListItem>
                                <asp:ListItem>cheque</asp:ListItem>
                                <asp:ListItem>Debit Card</asp:ListItem>
                                <asp:ListItem>Credit Card</asp:ListItem>
                            </asp:DropDownList>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="col-md-4 page-label">
                            <label class="control-label">Account No. :</label>
                        </div>
                        <div class="col-md-8 page-control">
                            <input type="text" class="form-control col-md-10" />
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="col-md-4 page-label">
                            <label class="control-label">Remarks :</label>
                        </div>
                        <div class="col-md-8 page-control">
                            <input type="text" class="form-control col-md-10" />
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="calc-wrapper">

                        <div runat="server" id="amtDisplay" class="calculate-amount">
                            <div class="dsc-overallwrapper" id="includeDisc" runat="server" visible="false">
                                <div class="dsc-wrapper">
                                    <div class="col-md-2"></div>
                                    <div class="form-group col-md-10">
                                        <div class="col-md-4 page-label">
                                            <label class="control-label">PremiumAmount : </label>
                                        </div>
                                        <div class="col-md-7 page-control">
                                            <div class="control-label">
                                                <asp:TextBox ID="premiumAmount" Enabled="false" AutoPostBack="true" runat="server" CssClass="form-control col-md-10"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-md-2"></div>
                                    <div class="form-group col-md-10">
                                        <div class="col-md-4 page-label">
                                            <label class="control-label">Commission : </label>
                                        </div>
                                        <div class="col-md-7 page-control">
                                            <div class="control-label">
                                                <asp:TextBox ID="commission" Enabled="false" runat="server" CssClass="form-control col-md-10"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="dsc-wrapper">

                                    <div class="form-group col-md-10">
                                        <div class="col-md-4 page-label">
                                            <label class="control-label">Discount : </label>
                                        </div>
                                        <div class="col-md-7 page-control">
                                            <div class="control-label">
                                                <asp:TextBox ID="txtDiscount" AutoPostBack="true" OnTextChanged="validate_Premium" runat="server" CssClass="form-control col-md-10"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div id="excludeDisc" runat="server" visible="false">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-4 page-label">
                                        <label class="control-label">PremiumAmount : </label>
                                    </div>
                                    <div class="col-md-4 page-control">
                                        <div class="control-label">
                                            <asp:TextBox ID="premiumAmount1" Enabled="false" AutoPostBack="true" runat="server" OnTextChanged="validate_Premium" CssClass="form-control col-md-10"></asp:TextBox>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="clearfix"></div>
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-4 page-label">
                                        <label class="control-label">Commission : </label>
                                    </div>
                                    <div class="col-md-4 page-control">
                                        <div class="control-label">
                                            <asp:TextBox ID="commission1" runat="server" Enabled="false" CssClass="form-control col-md-10"></asp:TextBox>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                        <div class="ln_solid"></div>
                    <div class="btn-wrap-row text-center">
                        <asp:Button ID="btnCalculate" runat="server" Text="Calculate" CssClass="btn btn-primary" OnClientClick="showPageLoader('MotorEndorsementValidation');" OnClick="Calculate_Click" />
                        <asp:Button ID="btnSubmit" runat="server" Text="Save" CssClass="btn btn-primary" OnClientClick="showPageLoader('MotorEndorsementValidation');" OnClick="btnSubmit_Click" />
                        <asp:Button ID="btnBack" runat="server" Text="Back" CssClass="btn btn-primary" OnClick="btnBack_Click" ValidationGroup="MotorEndorsementValidation" />
                       <%-- <a runat="server" id="downloadschedule" class="btn btn-primary" title="Schedule" onclick="btnPrint_Click"><i class="fa fa-download" aria-hidden="true"></i>Schedule</a>
                        <a runat="server" id="downloadCertificate" class="btn btn-primary" title="Certificate" onclick="btnPrint_Click"><i class="fa fa-download" aria-hidden="true"></i>Certificate</a>--%>
                        <asp:HiddenField ID="calculatedPremium" runat="server" />
                        <asp:HiddenField ID="calculatedCommision" runat="server" />
                        <asp:HiddenField ID="insuredDOB" runat="server" />
                        <asp:HiddenField ID="paidPremium" runat="server" />
                        <asp:HiddenField ID="subClass" runat="server" />
                        <asp:HiddenField ID="expireDate" runat="server" />
                        <asp:HiddenField ID="endorsementSubmitted" Value="false" runat="server" />
                    </div>
                        </div>
                </div>
            </div>
            <asp:Panel runat="server">
                <div class="container" runat="server">
                    <div class="row">
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Motor Endorsement</h4>
                                    </div>
                                    <div class="modal-body" runat="server" id="modalBodyText">
                                        Your you sure want authorize this endorsement ?
                                    </div>
                                    <div class="modal-footer">
                                        <asp:Button ID="btnYes" type="button" Text="Yes" OnClientClick="showPageLoader();" OnClick="btnAuthorize_Click" runat="server" CssClass="btn btn-primary" />
                                        <%--<button type="button" runat="server" id="btnClose"  data-dismiss="modal" Class="btn btn-primary">Close</button>--%>
                                        <asp:Button ID="btnOK" type="button" OnClientClick="closePopup();" OnClick="Reset_Content" Text="No" runat="server" CssClass="btn btn-primary" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </asp:Panel>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>