﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/General.Master" CodeBehind="TravelEndorsement.aspx.cs" Inherits="SellingPoint.Presentation.TravelEndorsement" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolKit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script>
        function ShowPopup() {
            if (checkPageIsValid()) {
                $('#myModal').modal('show');
            }
            else {
                showPageLoader('TravelEndorsementValidation');
                $('#myModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        }
        function closePopup() {
            $('#myModal').modal('hide');
            $(".modal-backdrop").remove();
        }
        function checkPageIsValid() {
            return Page_ClientValidate('TravelEndorsementValidation');
        }
        function ShowMessage() {
            $('#myModal').modal('show');
        }
        //function showDeletePopup() {
        //    $('#myModalDelete').modal('show');

        //}
        // function closeDeletePopup() {
        //    $('#myModalDelete').modal('hide');
        //      $("#myModalDelete .modal-backdrop").remove();
        //}
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdatePanel runat="server" ID="travelEndorsementUpdatePanel">
        <ContentTemplate>
            <div class="adv-table editable-table ">
                <asp:GridView ID="gvTravelEndorsement" runat="server" OnDataBound="gvTravelEndorsement_DataBound" CssClass="table table-bordered" AutoGenerateColumns="False" AllowPaging="True" AllowSorting="True" Width="100%" OnSorting="gv_Sorting" PageSize="10">
                    <HeaderStyle CssClass="bcolorhead fcolorwhite" />
                    <Columns>
                        <asp:TemplateField HeaderText="S.No">
                            <ItemTemplate>
                                <asp:Label ID="lblSNo" runat="server" Text=" <%# Container.DataItemIndex + 1 %>"></asp:Label>
                                <asp:Label ID="lblTravelID" runat="server" Text='<%# Eval("TravelID") %>' Visible="false"></asp:Label>
                                <asp:Label ID="lblTravelEndorsementID" runat="server" Text='<%# Eval("TravelEndorsementID") %>' Visible="false"></asp:Label>
                                <asp:Label ID="lblIsSaved" runat="server" Text='<%# Eval("IsSaved") %>' Visible="false"></asp:Label>
                                <asp:Label ID="lblIsActive" runat="server" Text='<%# Eval("IsActivePolicy") %>' Visible="false"></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <%--<asp:BoundField DataField="MotorEndorsementID" HeaderText="EndorsementId" />
                     <asp:BoundField DataField="MotorID" HeaderText="MotorId" /> --%>
                        <asp:BoundField DataField="EndorsementNo" HeaderText="EndorsementNo" ItemStyle-CssClass="DateKeyHide" HeaderStyle-CssClass="DateKeyHide" />
                        <asp:BoundField DataField="Endorsementtype" HeaderText="Type" SortExpression="Name" />
                        <asp:BoundField DataField="PremiumBeforeDiscount" HeaderText="PremiumBeforeDiscount" SortExpression="Name" />
                        <asp:BoundField DataField="PremiumAfterDiscount" HeaderText="Premium" SortExpression="Name" />
                        <asp:BoundField DataField="CommisionBeforeDiscount" HeaderText="CommisionBeforeDiscount" SortExpression="Name" />
                        <asp:BoundField DataField="CommissionAfterDiscount" HeaderText="Commission" SortExpression="Name" />
                        <asp:BoundField DataField="PolicyCommencementDate" HeaderText="COMMENCEDATE" SortExpression="Name" />
                        <asp:BoundField DataField="EXPIRYDATE" HeaderText="EXPIRYDATE" SortExpression="Name" />
                        <asp:TemplateField HeaderText="Action">
                            <ItemTemplate>
                                <asp:LinkButton ID="lnkbtnAuthorize" runat="server" ToolTip="Authorize" CssClass="fsize fcolorred" OnClientClick="showPageLoader();" OnClick="lnkbtnAuthorize_Click" CommandName="Authorize"><i class="fa  fa-edit"></i></asp:LinkButton>
                                <asp:LinkButton ID="lnkbtnDelete" runat="server" ToolTip="Delete" OnClientClick="return confirm('Are you sure you want to delete this entry?');" OnClick="lnkbtnDelete_Click" CssClass="fsize fcolorred" CommandName="Delete"><i class="fa  fa-trash-o"></i></asp:LinkButton>
                            </ItemTemplate>
                        </asp:TemplateField>
                    </Columns>
                </asp:GridView>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Search :</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal form-label-left col-md-12">
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Branch :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlBranch" runat="server" CssClass="form-control col-md-10 chzn-select">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator CssClass="err" SetFocusOnError="true" ID="rfvddlBranch" ErrorMessage="Please select branch" ControlToValidate="ddlBranch" runat="server" ValidationGroup="TravelEndorsementValidation" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Introduced by :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtIndroducedBy" runat="server" CssClass="form-control col-md-10 readonly-sty" ReadOnly="true" />
                            </div>
                        </div>
                          <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Issue Date:</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtIssueDate" runat="server" CssClass="form-control col-md-10 readonly-sty" ReadOnly="true" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                           <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Type:</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlEndorsementType" runat="server" CssClass="form-control col-md-10 chzn-select" OnSelectedIndexChanged="Changed_EndorsementType" AutoPostBack="True">
                                    <asp:ListItem Text="Select" Value="-1" />
                                    <asp:ListItem Value="ChangeMemberDetails">Change Member Details</asp:ListItem>
                                    <asp:ListItem Value="AddRemoveFamilyMember">Add Remove Family Member</asp:ListItem>
                                    <asp:ListItem Value="CorrectPremium">Correct Premium</asp:ListItem>
                                    <asp:ListItem Value="CancelPolicy">CancelPolicy</asp:ListItem>
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator InitialValue="-1" ID="rfvddlEndorsementType" ErrorMessage="Please select endorsement type" ControlToValidate="ddlEndorsementType" runat="server" ValidationGroup="TravelEndorsementValidation" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">CPR: *</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlCPR" runat="server" CssClass="form-control col-md-10 chzn-select" onChange="showPageLoader();" OnSelectedIndexChanged="Changed_CPR" AutoPostBack="True">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator ID="rfvCPR" ErrorMessage="Please select CPR" ControlToValidate="ddlCPR" runat="server" ValidationGroup="TravelEndorsementValidation" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Policy Number: *</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:DropDownList ID="ddlTravelPolicies" runat="server" CssClass="form-control col-md-10 chzn-select" onChange="showPageLoader();" OnSelectedIndexChanged="Changed_TravelPolicy" AutoPostBack="True">
                                </asp:DropDownList>
                                <asp:RequiredFieldValidator ID="rfvddlMotorPolicies" ErrorMessage="Please select policy" ControlToValidate="ddlTravelPolicies" runat="server" ValidationGroup="TravelEndorsementValidation" />
                            </div>
                        </div>                      
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Effective From :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtEffectiveFromDate" runat="server" CssClass="form-control col-md-10 datepicker" ReadOnly="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Efecctive To :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtEffectiveToDate" runat="server" CssClass="form-control col-md-10 datepicker" ReadOnly="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-4 page-label">
                                <label class="control-label">Insurance Name :</label>
                            </div>
                            <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtOldInsuredName" runat="server" CssClass="form-control col-md-10" Enabled="false" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="divider-20"></div>
                    </div>
                    <!-- Type 1 -->
                    <div class="trf_type typ_wrapper" id="changeAddMemberDeatilsDiv" runat="server">
                        <div class="form-horizontal form-label-left col-md-12">
                            <%--<div class="form-group col-md-6">
                        </div>
                         <div class="form-group col-md-6">
                        </div>--%>
                            <div id="depentdetails" runat="server">
                                <div class="form-group col-md-12 append-rows">
                                    <h2>Dependent details:</h2>
                                    <div class="table-append-rows">
                                        <asp:GridView ID="Gridview1" Width="100%"
                                            OnRowDataBound="Gridview1_RowDataBound" runat="server" OnRowDeleting="Gridview1_RowDeleting" ShowFooter="true" AutoGenerateColumns="false">
                                            <Columns>
                                                <%--<asp:BoundField DataField="RowNumber" HeaderText="Row Number" />--%>
                                                <asp:TemplateField HeaderText="Insured Name">
                                                    <ItemTemplate>
                                                        <asp:TextBox ID="txtMemberName" runat="server"></asp:TextBox>
                                                        <asp:RequiredFieldValidator CssClass="err" ErrorMessage="Please enter name" ControlToValidate="txtMemberName" runat="server" ValidationGroup="travelValidation" />
                                                    </ItemTemplate>
                                                    <FooterStyle HorizontalAlign="Left" />
                                                    <FooterTemplate>
                                                        <asp:Button ID="ButtonAdd" runat="server" Text="Add New Dependent" OnClick="ButtonAdd_Click" CssClass="btn btn-primary" />
                                                    </FooterTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Relationship">
                                                    <ItemTemplate>
                                                        <asp:DropDownList ID="ddlRelation" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddlRelation_Changed">
                                                        </asp:DropDownList>
                                                        <asp:RequiredFieldValidator CssClass="err" ErrorMessage="Please select relationship" ControlToValidate="ddlRelation" runat="server" ValidationGroup="travelValidation" />
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Date Of Birth">
                                                    <ItemTemplate>
                                                        <asp:TextBox ID="txtDOB" runat="server" CssClass="blow20years"></asp:TextBox>
                                                        <asp:RequiredFieldValidator CssClass="err" ErrorMessage="Please enter date of birth" ControlToValidate="txtDOB" runat="server" ValidationGroup="travelValidation" />
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Passport No">
                                                    <ItemTemplate>
                                                        <asp:TextBox ID="txtPassport" runat="server"></asp:TextBox>
                                                        <asp:RequiredFieldValidator CssClass="err" ErrorMessage="Please enter CPR no" ControlToValidate="txtPassport" runat="server" ValidationGroup="travelValidation" />
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Nationality">
                                                    <ItemTemplate>
                                                        <asp:DropDownList ID="ddlNational" runat="server" CssClass="form-control col-md-10 chzn-select" AutoPostBack="True" OnSelectedIndexChanged="ddlNational_SelectedIndexChanged">
                                                            <asp:ListItem Text="--Please Select--" Value="-1" />
                                                        </asp:DropDownList>
                                                        <asp:RequiredFieldValidator CssClass="err" ErrorMessage="Please select national" ControlToValidate="ddlNational" runat="server" ValidationGroup="travelValidation" />
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Occupation">
                                                    <ItemTemplate>
                                                        <asp:TextBox ID="txtOccupation" runat="server"></asp:TextBox>
                                                        <asp:RequiredFieldValidator CssClass="err" ErrorMessage="Please enter occupation" ControlToValidate="txtOccupation" runat="server" ValidationGroup="travelValidation" />
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Action">
                                                    <ItemTemplate>
                                                        <asp:LinkButton ID="lnkbtnDelete" runat="server" ToolTip="Delete" OnClientClick="return confirm('Are you sure you want to delete this entry?');" CssClass="fsize fcolorred" CommandName="Delete"><i class="fa  fa-trash-o"></i></asp:LinkButton>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                            </Columns>
                                        </asp:GridView>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="ln_solid"></div>
                        </div>
                    </div>
                    <!-- End Type 1-->
                    <!-- Type 2 -->
                    <!-- End Type 2-->
                    <!-- Type 3 -->
                    <div class="chgreg_type typ_wrapper" id="CorrectPremiumDiv" runat="server">
                        <div class="form-horizontal form-label-left col-md-12">
                          <div class="form-group col-md-4">
                           <div class="col-md-4 page-label">
                                    <label class="control-label">Old Premium :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtOldPremium" runat="server" CssClass="form-control col-md-10"  ReadOnly="true"/>
                            </div>
                           </div>
                             <div class="form-group col-md-4">
                           <div class="col-md-4 page-label">
                                    <label class="control-label">New Premium :</label>
                                </div>
                                <div class="col-md-8 page-control">
                                <asp:TextBox ID="txtNewPremium" runat="server" CssClass="form-control col-md-10" />
                            </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- End Type 4 -->
                    <!-- Type 5 -->
                    <div class="cnclpolicy_type typ_wrapper" id="CancelPolicyDiv" runat="server">
                    </div>
                    <div class="form-group col-md-4">
                        <div class="col-md-4 page-label">
                            <label class="control-label">Payment Methods :</label>
                        </div>
                        <div class="col-md-8 page-control">
                            <asp:DropDownList ID="ddlPaymentMethods" runat="server" CssClass="form-control col-md-10 chzn-select" AutoPostBack="True" OnSelectedIndexChanged="ddlPaymentMethod_SelectedIndexChanged" TabIndex="29">
                                <asp:ListItem Text="Select" Value="-1" />
                                <asp:ListItem>Cash</asp:ListItem>
                                <asp:ListItem>cheque</asp:ListItem>
                                <asp:ListItem>Debit Card</asp:ListItem>
                                <asp:ListItem>Credit Card</asp:ListItem>
                            </asp:DropDownList>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="col-md-4 page-label">
                            <label class="control-label">Account No. :</label>
                        </div>
                        <div class="col-md-8 page-control">
                            <input type="text" class="form-control col-md-10" />
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="col-md-4 page-label">
                            <label class="control-label">Remarks :</label>
                        </div>
                        <div class="col-md-8 page-control">
                            <input type="text" class="form-control col-md-10" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="calc-wrapper">

                        <div runat="server" id="amtDisplay" class="calculate-amount">
                            <div class="dsc-overallwrapper" id="includeDisc" runat="server" visible="false">
                                <div class="dsc-wrapper">
                                    <div class="col-md-2"></div>
                                    <div class="form-group col-md-10">
                                        <div class="col-md-4 page-label">
                                            <label class="control-label">PremiumAmount : </label>
                                        </div>
                                        <div class="col-md-7 page-control">
                                            <div class="control-label">
                                                <asp:TextBox ID="premiumAmount" Enabled="false" AutoPostBack="true" runat="server" CssClass="form-control col-md-10"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-md-2"></div>
                                    <div class="form-group col-md-10">
                                        <div class="col-md-4 page-label">
                                            <label class="control-label">Commission : </label>
                                        </div>
                                        <div class="col-md-7 page-control">
                                            <div class="control-label">
                                                <asp:TextBox ID="commission" Enabled="false" runat="server" CssClass="form-control col-md-10"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="dsc-wrapper">

                                    <div class="form-group col-md-10">
                                        <div class="col-md-4 page-label">
                                            <label class="control-label">Discount : </label>
                                        </div>
                                        <div class="col-md-7 page-control">
                                            <div class="control-label">
                                                <asp:TextBox ID="txtDiscount" AutoPostBack="true" OnTextChanged="validate_Premium" runat="server" CssClass="form-control col-md-10"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div id="excludeDisc" runat="server" visible="false">
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-4 page-label">
                                        <label class="control-label">PremiumAmount : </label>
                                    </div>
                                    <div class="col-md-4 page-control">
                                        <div class="control-label">
                                            <asp:TextBox ID="premiumAmount1" Enabled="false" AutoPostBack="true" runat="server" OnTextChanged="validate_Premium" CssClass="form-control col-md-10"></asp:TextBox>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="clearfix"></div>
                                <div class="col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <div class="col-md-4 page-label">
                                        <label class="control-label">Commission : </label>
                                    </div>
                                    <div class="col-md-4 page-control">
                                        <div class="control-label">
                                            <asp:TextBox ID="commission1" runat="server" Enabled="false" CssClass="form-control col-md-10"></asp:TextBox>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap-row text-center">
                        <asp:Button ID="btnCalculate" runat="server" Text="Calculate" CssClass="btn btn-primary" OnClientClick="showPageLoader('TravelEndorsementValidation');" OnClick="Calculate_Click" />
                        <asp:Button ID="btnSubmit" runat="server" Text="Save" CssClass="btn btn-primary" OnClientClick="showPageLoader('TravelEndorsementValidation');" OnClick="btnSubmit_Click" />
                        <asp:Button ID="btnBack" runat="server" Text="Back" CssClass="btn btn-primary" OnClick="btnBack_Click" ValidationGroup="TravelEndorsementValidation" />
                        <a runat="server" id="downloadschedule" class="btn btn-primary" title="Schedule" onclick="btnPrint_Click"><i class="fa fa-download" aria-hidden="true"></i>Schedule</a>
                        <a runat="server" id="downloadCertificate" class="btn btn-primary" title="Certificate" onclick="btnPrint_Click"><i class="fa fa-download" aria-hidden="true"></i>Certificate</a>
                        <asp:HiddenField ID="calculatedPremium" runat="server" />
                        <asp:HiddenField ID="calculatedCommision" runat="server" />
                        <asp:HiddenField ID="insuredDOB" runat="server" />
                        <asp:HiddenField ID="paidPremium" runat="server" />
                        <asp:HiddenField ID="subClass" runat="server" />
                        <asp:HiddenField ID="expireDate" runat="server" />
                        <asp:HiddenField ID="endorsementSubmitted" Value="false" runat="server" />
                    </div>
                </div>
            </div>
            <asp:Panel runat="server">
                <div class="container" runat="server">
                    <div class="row">
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Travel Endorsement</h4>
                                    </div>
                                    <div class="modal-body" runat="server" id="modalBodyText">
                                        Your you sure want authorize this endorsement ?
                                    </div>
                                    <div class="modal-footer">
                                        <asp:Button ID="btnYes" type="button" Text="Yes" OnClientClick="showPageLoader();" OnClick="btnAuthorize_Click" runat="server" CssClass="btn btn-primary" />
                                        <%--<button type="button" runat="server" id="btnClose"  data-dismiss="modal" Class="btn btn-primary">Close</button>--%>
                                        <asp:Button ID="btnOK" type="button" OnClientClick="closePopup();" OnClick="Reset_Content" Text="No" runat="server" CssClass="btn btn-primary" />
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </asp:Panel>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>