
<TR VALIGN=TOP>
		<TD WIDTH=463 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">Item
			description </FONT>
			</P>
		</TD>
		<TD WIDTH=463 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">{{Item_description}}</FONT>
			</P>
		</TD>
		<TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">value</FONT></P>
		</TD>
		<TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">{{Item_Value}}</FONT></P>
		</TD>
</TR>
