<TABLE WIDTH=638 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=90></COL>
	<COL WIDTH=201></COL>
	<COL WIDTH=112></COL>
	<COL WIDTH=178></COL>
	<TR>
		<TD COLSPAN=4 WIDTH=622 VALIGN=TOP STYLE="border: 1px solid #00000a;text-align: center; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt"><B>Domestic
			Worker - {{WorkerCount}}</B></FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=90 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">Name:</FONT></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">{{Name}}</FONT></P>
		</TD>
		<TD WIDTH=112 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">Sex:</FONT></P>
		</TD>
		<TD WIDTH=178 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>{{Sex}}</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=90 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">Date of
			Birth:</FONT></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">{{DOB}}</FONT></P>
		</TD>
		
		<TD WIDTH=112 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">CPR:</FONT></P>
		</TD>
		<TD WIDTH=178 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">{{CPR}}</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=291 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">SumInsured:</FONT></P>
		</TD>
		<TD WIDTH=290 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><FONT COLOR="#000000" FACE="Times New Roman" SIZE=3 STYLE="font-size: 11pt">BD
			2,000/-</FONT></P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in; line-height: 100%">	</P>